:root {
  --toastmasters-red: #d71f26;
  --toastmasters-light-gray: #f4f4f4;
  --toastmasters-dark-gray: #333;
  --toastmasters-border-radius: 5px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #004165, #0070c0);
  background-size: cover;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #004165, #0070c0);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.logo {
  width: 87px;
  height: auto;
  margin-right: 20px;
}

form {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 1rem;
}



input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--toastmasters-red);
  border-radius: 10px;
  background-color: var(--toastmasters-light-gray);
  color: var(--toastmasters-dark-gray);
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #00539f;
  outline: none;
}



.error {
  color: red;
  font-size: 0.8em;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #b22222;
  color: white;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7b1818;
}

#loader {
  border: 8px solid #f3f3f3; /* Light grey background for the border */
  border-top: 8px solid #d71920; /* Toastmasters red */
  border-radius: 50%; /* Circular shape */
  width: 50px; /* Diameter of the spinner */
  height: 50px; /* Diameter of the spinner */
  animation: spin 1s linear infinite; /* Animation */
  margin: 50px auto; /* Center the spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Responsive styles */
@media (max-width: 300px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensure body takes up full height */
    min-height: 100vh;
  }

  form {
    width: 90%;
    padding: 15px;
    /* Optional: To center form within body */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form div {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1rem;
  }

  input[type="text"] {
    padding: 10px;
    /* Optional: To make the input field more responsive */
    width: 100%;
  }

  button {
    padding: 12px;
    /* Optional: To make button more responsive */
    width: 100%;
  }
}
