body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #004165, #0070c0);
  background-size: cover;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #004165, #0070c0);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.logo {
  width: 87px;
  height: auto;
  margin-right: 20px;
}

form {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 1rem;
}

label {
  display: block;
  margin-left: 6px;
  margin-bottom: 5px;
  color: #000000;
  font-weight: 400;
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); */
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #00539f;
  outline: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #00539f;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + label::before {
  background-color: #b22222;
  border-color: #b22222;
}

input[type="checkbox"]:focus + label::before {
  outline: 2px solid #00539f;
}

.error {
  color: red;
  font-size: 0.8em;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #b22222;
  color: white;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7b1818;
}

/* Responsive styles */
@media (max-width: 350px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensure body takes up full height */
    min-height: 100vh;
  }

  form {
    width: 90%;
    padding: 15px;
    /* Optional: To center form within body */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form div {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1rem;
  }

  input[type="text"] {
    padding: 10px;
    /* Optional: To make the input field more responsive */
    width: 100%;
  }

  button {
    padding: 12px;
    /* Optional: To make button more responsive */
    width: 100%;
  }
}
